<h1>All Astronauts</h1>

<div>
  <% @astronauts.each do |astro| %>
  <div id="astro-<%= astro.id %>">
    <p><%= astro.name %></p>
    <p><%= astro.age %></p>
    <p><%= astro.job %></p>
    <% astro.mission_list.each do |mission_name| %>
      <p><%= mission_name %></p>
        <% end %>
  </div>
  <% end %>
  <p id='ave-age'><%= @average_age %></p>
</div>
